.activity {
  padding-top: 47px;

  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--background-header-color);
    background: rgba(47, 48, 58, 0.8);
  }
}
