.hero {
  padding-top: 0;
  padding-bottom: 0;

  background-color: $footerBackgroundColor;

  &__container {
    padding-bottom: 200px;
    padding-top: 200px;
    padding-left: 252px;
    padding-right: 252px;
  }

  &__title {
    margin-bottom: 30px;

    font-weight: $blackWeight;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: $largeLetterSpacing;
    text-transform: uppercase;

    color: $backgroundColor;
  }
}

.image {
  max-width: 1600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/studia/solutions.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
