:root {
  --primary-text-color: #212121;
  --title-title-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;

  /* Background color */
  --background-header-color: #ffffff;
  --background-footer-color: #2f303a;
  --background-section-color: #f5f4fa;

  --background-icon-color: #f5f4fa;
  --text-icon-color: #afb1b8;
  --join-item-color: rgba(255, 255, 255, 0.1);
  --clients-icon-color: #afb1b8;
  --accent-shodow-color: #188ce8;
  --linear-gradient: rgba(47, 48, 58, 0.4);
}
